.form-wrapper {
    width: 1100px;
}

.form-area {
    width: 100%;
    margin-top: 30px;
}

.form-area-wrapper {
    display: flex;
    gap: 10px;
    background: #aef079;
    padding: 0px 8px 0px 8px;
}

.component-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container-box {
    display: flex;
    justify-content: center;
}

.form-component {
    width: 33%;
    height: 320px;
    background: #485c37;
}

.name-input {
    width: 300px !important;
}

.gender-container {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.radio-group {
    display: flex !important;
    flex-direction: row !important;
}

.select-preference {
    margin-bottom: 15px !important;
}

.button-area {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.output-details-container {
    width: 420px;
    height: 330px;
}

.output-details-wrapper {
    background: #8a2020;
    padding: 20px 20px 25px 20px;
}